/* Style the topnav links */
  .topnav a {
    background-color: #333;  
    float: left;
    display: block;
    color: #09f16a;
    text-align: center;
    padding: 14px 16px;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }


  .body{
    width:50px;
    height:50px;
    background-color:#000;
}

#select2:checked ~ .body{
    background-color:#060;
}

#select3:checked ~ .body{
    background-color:#0000FF;
}

  /* On screens that are 880px wide or less, make the menu links stack on top of each other instead of next to each other */
  @media screen and (max-width: 880px) {
    .topnav a {
      float: none;
      display: block;
      text-align: left;
      width: 25%;
      padding: 8px 8px;
    }
}
